.bOlahraga1 {
  -fx-background-color: rgba(197, 231, 26, 0.586);
  -fx-text-fill: "#323232";
  -fx-font-size: 15px;
  -fx-font-weight: bold;
  -fx-min-width: 171px;
  -fx-min-height: 38px;
  -fx-background-radius: 42px;
}

.bOlahraga2 {
  -fx-background-color: green;
  -fx-text-fill: "#323232";
  -fx-font-size: 15px;
  -fx-font-weight: bold;
  -fx-min-width: 171px;
  -fx-min-height: 38px;
  -fx-background-radius: 42px;
}

.bOlahraga3 {
  -fx-background-color: rgb(19, 19, 237);
  -fx-text-fill: "#323232";
  -fx-font-size: 15px;
  -fx-font-weight: bold;
  -fx-min-width: 171px;
  -fx-min-height: 38px;
  -fx-background-radius: 42px;
}

.bHistory {
  -fx-background-color: rgb(229, 108, 16);
  -fx-text-fill: "#323232";
  -fx-font-size: 15px;
  -fx-font-weight: bold;
  -fx-min-width: 171px;
  -fx-min-height: 38px;
  -fx-background-radius: 42px;
}

.Bg {
  -fx-background-color: rgba(136, 221, 117, 0.393);
}

.title {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
}

.bCalculate {
  -fx-background-color: #4caf50;
  -fx-text-fill: white;
  -fx-font-weight: bold;
}

.back {
  -fx-background-color: #f44336;
  -fx-text-fill: white;
  -fx-font-weight: bold;
}

.tName{
  -fx-background-color : white;
}

.tDuration{
  -fx-background-color :white
}

.tDistance{
  -fx-background-color :white
}

.tGaya{
  -fx-background-color :white
}

.tIntensitas {
  -fx-background-color :white
}

.inputan{
  -fx-padding: 100px 300px;
}